p, tr, input, option {
    font-family: 'Source Sans Pro', sans-serif;
}

#load {
    margin-left: 20px;
}

p.headline-1 {
    font-size: 35px;
    font-weight: bold;
    margin-left: 40px;
}

p.headline-2 {
    
    font-size: 28px;
    font-weight: bold;
}

p.headline-3 {
    
    font-size: 20px;
    font-weight: bold;
}

p.body, option {
    font-size: 14;
}


table {
    border-spacing: 20px 5px;
}

th {
    font-size: 28px;
    text-align: left;
}

input.final {
    font-size: 28px;
    type: text;
    width: 70px;
}

input.predict {
    font-size: 28px;
    type: text;
    width: 70px;
}
input.surplus {
    font-size: 18;
    type: text;
    width: 50px;
}

div.section {
    
}

div.headline {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}


div.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

div.left {
    flex: 1;
    border: 20px solid transparent;
}

div.right {
    flex: 1;
    border: 20px solid transparent;
}

.inline {
    display: inline-block;
}
